@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&display=swap');
#content {
    margin: 0 auto;
    max-width: 1600px;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
    height: 725px;
    background-color: #c03221;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

#logo_link {
    justify-self: center;
    align-self: center;
    padding-top: 5px;
}

#rivers-title {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
    text-align: center;
    font-family: Open sans, Georgia, arial;
    font-size: 1.4em;
    color: #c03221;
    padding-bottom: 20px;
    border-bottom: 4px solid #545e75;
}

#rivers-title h1 {
    grid-column: 2/3;
    grid-row: 2/3;
}

#rivers-title img {
    width: 100%;
    max-height: 250px;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.book {
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #c03221;
    color: white;
    text-decoration: none;
}

.book:hover {
    background-color: white;
    color: #c03221;
}

.button-box {
    text-align: center;
}

.card-img {
    width: 100%;
    border: 10px solid #f2d0a4;
    transition: transform .5s;
    box-shadow: 5px 5px 10px black;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.home-title {
    font-family: Open sans, Georgia, arial;
    font-size: 2em;
    margin-top: 10px;
    color: #f2d0a4;
}

.icon {
    padding-top: 10px;
    width: 80px;
}

.join {
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #c03221;
    color: white;
    text-decoration: none;
}

.join:hover {
    background-color: white;
    color: #c03221;
}

.logo {
    width: 80px;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    box-shadow: 5px 5px 10px black;
}

.msg {
    grid-column: 6/10;
    grid-row: 6/7;
    padding: 35px;
    line-height: 1.5em;
    background-color: #f2d0a4;
    box-shadow: 5px 5px 10px black;
}

.msg h2 {
    font-family: Open sans, Georgia, arial;
    color: #545e75;
}

.msg p {
    padding-bottom: 15px;
    font-size: .8em;
    color: #545e75;
}

.social img {
    padding-top: 15px;
}

.river-card {
    grid-column: 2/4;
    grid-row: 2/3;
    margin: 200px 0;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
    margin: 200px 0;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
    margin: 200px 0;
}

.river1 {
    grid-column: 2/10;
    grid-row: 1/2;
    background-color: #f2d0a4;
    color: #545e75;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 1fr 1fr;
    text-align: left;
    margin-top: 45px;
    margin-bottom: 30px;
    padding: 40px;
    border: 5px solid #545e75
}

.river1 h2 {
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: center;
}

.river1 div {
    grid-column: 1/4;
    grid-row: 2/4;
}

.river1 img {
    grid-column: 4/7;
    grid-row: 2/4;
    margin-left: 20px;
    width: 100%;
    max-width: 500px;
    height: auto;
    border: 3px solid #c03221;
    box-shadow: 5px 5px 10px black;
}

.river2 {
    grid-column: 2/10;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 1fr 1fr;
    background-color: #f2d0a4;
    color: #545e75;
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding: 40px;
    border: 5px solid #545e75
}

.river2 h2 {
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: center;
}

.river2 div {
    grid-column: 1/4;
    grid-row: 2/4;
}

.river2 img {
    grid-column: 4/7;
    grid-row: 2/4;
    margin-left: 20px;
    width: 100%;
    max-width: 500px;
    height: auto;
    border: 3px solid #c03221;
    box-shadow: 5px 5px 10px black;
}

.river3 {
    grid-column: 2/10;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 1fr 1fr;
    background-color: #f2d0a4;
    color: #545e75;
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding: 40px;
    border: 5px solid #545e75
}

.river3 h2 {
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: center;
}

.river3 div {
    grid-column: 1/4;
    grid-row: 2/4;
}

.river3 img {
    grid-column: 4/7;
    grid-row: 2/4;
    margin-left: 20px;
    width: 100%;
    max-width: 500px;
    height: auto;
    max-height: 400px;
    border: 3px solid #c03221;
    box-shadow: 5px 5px 10px black;
}

body {
    font-family: Oswald, sans-serif, arial;
    font-size: 22px;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
    padding-top: 15px;
    margin-top: 200px;
    background-color: #f2d0a4;
    color: #545e75;
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: #545e75;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer p a:hover {
    text-decoration: underline;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #f2d0a4;
    opacity: 80%;
}

h2 {
    margin: 0;
}

h4 {
    color: #f2d0a4;
}

main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
}

hr {
    border: 2px solid #c03221;
}

nav a {
    padding: 35px;
    text-align: center;
    color: #545e75;
    text-decoration: none;
}

nav a:hover {
    background-color: #545e75;
    color: white;
}


/* For Contact Us page*/

form {
    /*page centring*/
    margin: 0 auto;
    width: 400px;
    /*form outline*/
    padding: 1em;
    border: 1px solid #545e75;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #545e75;
}

input:focus,
textarea:focus {
    border-color: #545e75;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: 0.5em;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;
}

.moveDown {
    margin-top: 3em;
}


/*media query*/

@media screen and (max-width: 900px) {
    #hero,
    #rivers-title,
    .home-grid {
        display: block;
        height: auto;
    }
    nav,
    footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #rivers-title {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .rivers-info {
        margin: 50px auto;
        width: 80%;
        text-size-adjust: auto;
    }
    .rivers-info h2 {
        font-size: 0.9em;
    }
    .home-title {
        font-size: 25px;
        color: #f2d0a4;
    }
    .river-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}