@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&display=swap');
#content {
    margin: 0 auto;
    max-width: 1600px;
}

#background {
    height: 725px;
    background-color: #c03221;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

#logo_link {
    padding-top: 5px;
}

.book {
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #c03221;
    color: white;
    text-decoration: none;
}

.book:hover {
    background-color: white;
    color: #c03221;
}

.button-box {
    text-align: center;
}

.card-img {
    border: 10px solid #f2d0a4;
}

.home-title {
    font-family: Open sans, Georgia, arial;
    font-size: 2em;
    margin-top: 10px;
    color: #545e75;
}

.icon {
    padding-top: 10px;
    width: 80px;
}

.join {
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #c03221;
    color: white;
    text-decoration: none;
}

.join:hover {
    background-color: white;
    color: #c03221;
}

.logo {
    width: 80px;
}

.msg {
    padding: 35px;
    line-height: 1.5em;
    background-color: #f2d0a4;
}

.msg h2 {
    font-family: Open sans, Georgia, arial;
    color: #545e75;
}

.msg p {
    padding-bottom: 15px;
    font-size: .8em;
    color: #545e75;
}

.social img {
    padding-top: 15px;
}

.river-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

body {
    font-family: Oswald, sans-serif, arial;
    font-size: 22px;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

footer {
    padding: 25px 50px;
    padding-top: 15px;
    margin-top: 200px;
    background-color: #f2d0a4;
    color: #545e75;
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: #545e75;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer p a:hover {
    text-decoration: underline;
}

header {
    background-color: #f2d0a4;
}

h2 {
    margin: 0;
}

h4 {
    color: #545e75;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

nav a {
    padding: 35px;
    text-align: center;
    color: #545e75;
    text-decoration: none;
}

nav a:hover {
    background-color: #545e75;
    color: white;
}