@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Roboto+Condensed:wght@300&display=swap');
#content {
    margin: 0 auto;
    max-width: 1800px;
}

#banner {
    grid-column: 1/5;
    grid-row: 1/5;
}

#banner-img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    object-fit: cover;
    z-index: -1;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(4, 100px);
}

h1 {
    font-family: "Exo 2", sans-serif;
    font-size: 3.5em;
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 1;
    text-align: center;
    color: #F2A65A;
    text-shadow: 5px 5px 2px #772F1A;
}

nav {
    grid-column: 1/5;
    grid-row: 4/5;
    display: flex;
    justify-content: space-between;
    background-color: #585123;
}

nav a {
    padding: 35px;
    font-family: "Exo 2", sans-serif;
    font-size: 1.5em;
    flex-grow: 1;
    text-align: center;
    color: #F2A65A;
    text-decoration: none;
}

nav a:hover {
    background-color: #F58549;
    color: #772F1A;
}


/*footer part*/

footer {
    background-color: #585123;
    color: #F2A65A;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    padding: 25px;
    padding-left: 70px;
    display: grid;
    grid-template-columns: 270px 1fr 250px 200px;
    gap: 15px;
}

.copyplan {
    display: inline-block;
    margin: 5px;
    padding-top: 30px;
}

.copyplan p {
    margin-top: 10px;
}

.social {
    grid-column: 3/4;
    padding-top: 30px;
    display: inline-block;
    vertical-align: middle;
}

footer img {
    max-width: 80%;
    height: auto;
}

#logo_link {
    display: inline-block;
    vertical-align: middle;
}


/*bodypart*/

h2 {
    font-family: "Exo 2", sans-serif;
    font-size: 2.6em;
    color: #F2A65A;
    text-align: center;
    padding-top: 45px;
}

.bodysection {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 200px;
    gap: 35px;
    padding-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4em;
    color: #F2A65A;
}

.welcome1 {
    grid-column: 1/3;
    grid-row: 1/2;
    border: 2px solid #772F1A;
    background-color: #585123;
    padding: 12px;
}

.welcome2 {
    grid-column: 2/4;
    grid-row: 2/3;
    border: 2px solid #772F1A;
    background-color: #585123;
    padding: 12px;
}

.welcome1 img {
    grid-column: 3/4;
}

.welcome2 img {
    grid-column: 1/2;
}

.bodysection img {
    max-width: 100%;
    height: auto;
    border: 10px solid #F58549;
    transition: transform .9s;
    box-shadow: 10px 10px 10px #772F1A;
}

.bodysection img:hover {
    transform: scale(1.2);
}