@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Roboto+Condensed:wght@300&display=swap');
#content {
    margin: 0 auto;
    max-width: 1800px;
}

#banner {
    grid-column: 1/5;
    grid-row: 1/5;
}

#banner-img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    object-fit: cover;
    z-index: -1;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(4, 100px);
}

h1 {
    font-family: "Exo 2", sans-serif;
    font-size: 3.5em;
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 1;
    text-align: center;
    color: #F2A65A;
    text-shadow: 5px 5px 2px #772F1A;
}

nav {
    grid-column: 1/5;
    grid-row: 4/5;
    display: flex;
    justify-content: space-between;
    background-color: #585123;
}

nav a {
    padding: 35px;
    font-family: "Exo 2", sans-serif;
    font-size: 1.5em;
    flex-grow: 1;
    text-align: center;
    color: #F2A65A;
    text-decoration: none;
}

nav a:hover {
    background-color: #F58549;
    color: #772F1A;
}


/*footer part*/

footer {
    background-color: #585123;
    color: #F2A65A;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    padding: 25px;
    padding-left: 70px;
    display: grid;
    grid-template-columns: 270px 1fr 250px 200px;
    gap: 15px;
}

.copyplan {
    display: inline-block;
    margin: 5px;
    padding-top: 30px;
}

.copyplan p {
    margin-top: 10px;
}

.social {
    grid-column: 3/4;
    padding-top: 30px;
    display: inline-block;
    vertical-align: middle;
}

footer img {
    max-width: 80%;
    height: auto;
}

#logo_link {
    display: inline-block;
    vertical-align: middle;
}


/*bodypart index*/

h2 {
    font-family: "Exo 2", sans-serif;
    font-size: 2.6em;
    color: #F2A65A;
    text-align: center;
    padding-top: 45px;
}

.bodysection {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 200px;
    gap: 35px;
    padding-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4em;
    color: #F2A65A;
}

.welcome1 {
    grid-column: 1/3;
    grid-row: 1/2;
    border: 2px solid #772F1A;
    background-color: #585123;
    padding: 12px;
}

.welcome2 {
    grid-column: 2/4;
    grid-row: 2/3;
    border: 2px solid #772F1A;
    background-color: #585123;
    padding: 12px;
}

.welcome1 img {
    grid-column: 3/4;
}

.welcome2 img {
    grid-column: 1/2;
}

.bodysection img {
    max-width: 100%;
    height: auto;
    border: 10px solid #F58549;
    transition: transform .9s;
    box-shadow: 10px 10px 10px #772F1A;
}

.bodysection img:hover {
    transform: scale(1.2);
}


/*Prod and prices*/

.prodintro {
    padding: 20px 80px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4em;
    color: #F2A65A;
    text-align: center;
}

.prodlist {
    margin: 20px 80px;
    border: 2px solid #772F1A;
    background-color: #585123;
    color: #F2A65A;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4em;
}

.prodlist img {
    max-width: 100%;
    height: auto;
    min-width: 350px;
    min-height: 210px;
    border: 1px solid #F58549;
    box-shadow: 5px 5px 10px black;
}

.product-item {
    display: grid;
    grid-template-columns: 4fr 1fr 5fr 1fr;
    padding: 10px 30px;
    align-items: center;
}

.productID {
    margin: 10px 10px;
    text-align: center;
}

h3 {
    font-family: "Exo 2", sans-serif;
    font-size: 1em;
    color: #F2A65A;
    text-align: center;
}


/*Orders page*/

.orderintro {
    padding: 20px 80px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4em;
    color: #F2A65A;
    text-align: left;
}

.lowerpart {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    color: #F2A65A;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4em;
    padding-bottom: 2em;
}

.map {
    grid-column: 1/2;
    grid-row: 1/3;
    max-width: 70%;
    max-height: auto;
    display: block;
    text-align: center;
    margin: auto;
}

.map img {
    max-width: 100%;
    max-height: auto;
    border: 10px solid #585123;
}

.contacts {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: -20%;
}

.additional {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: -20%;
}

.additional img {
    border: 2px solid #F58549;
}


/*For assignment MODAL IMGS*/


/* Style the Image Used to Trigger the Modal */

.myimg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myimg:hover {
    opacity: 0.8;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


/*responsiveness added*/

@media screen and (max-width: 1000px) {
    nav,
    footer {
        flex-direction: column;
    }
    header {
        display: block;
        position: relative;
    }
    nav a {
        display: block;
        padding: 15px;
        background-color: #585123;
    }
    h1 {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-size: 1.8em;
    }
    .bodysection {
        display: block;
    }
    .bodysection img {
        max-width: 70%;
        height: auto;
        border: 10px solid #F58549;
        transition: transform .9s;
        box-shadow: 10px 10px 10px #772F1A;
        margin: 10px 10px;
    }
    .bodysection img:hover {
        transform: scale(1.2);
    }
    footer {
        display: block;
        margin-top: 25px;
        padding: 25px 25px;
    }
    /*orders page*/
    .lowerpart {
        display: block;
        text-align: center;
    }
    .additional,
    .contacts {
        margin-left: auto;
    }
}